body{
    background-image: url('fondSite.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#formCo {
    position: absolute;
    left: 35%;
    top: 30%;
    width:30%
  }
  
  form {
    position:relative;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-radius: 10px;
    min-width: 300px; /* le form ne sera pas plus petit que 300 pixels */
    width: 90%;
    align-items: center;
    padding-bottom: 5%;
  }
  
  form h2 {
    color: white;
    text-align: center;
    font-size: 50px;
  }
  
  
  input[type="text"],
  input[type="password"] {
    background-color: white;
    padding: 2%;
    width: 80%;
    font-size: 20px;
    height: 3vh;
    border-radius: 8px;
    margin-bottom: 5%;
    outline: none;
  }

  form button {
    padding: 3% 9%;
    border: none;
    border-radius: 10px;
    font-size: 100%;
    color: black;
    background-color: #f6d250;
    cursor: pointer;
    margin-top: 5%;
  }

@media screen and (min-width: 400px) and (max-width: 720px) {
  body{
    background-image: url('fondSiteMobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#formCo {
  position: absolute;
  margin-left: 26%;
  margin-top: 20%;
}

form {
  margin-top: 20%;
  background-color: aqua;
  padding: 5% 10%;
  border-radius: 10px;
  min-width: 150px; /* le form ne sera pas plus petit que 300 pixels */
}

form h2 {
  color: white;
  text-align: center;
}

form input {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  position:relative;
  background-color: white;
  padding: 2%;
  width: 80%;
  height: 3vh;
  margin-left: 8%;
  border-radius: 8px;
  margin-bottom: 5%;
  outline: none;
}

form button {
  padding: 3% 9%;
  border: none;
  border-radius: 10px;
  font-size: 100%;
  color: black;
  background-color: #f6d250;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 8%;
}

}